{% extends 'base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}

		<link rel="stylesheet" href="{{ asset('user/devis/devis.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% if app.user %}
		<script src="{{ asset('user/devis/devis-logged.js') }}" defer></script>
	{% else %}
		<script src="{{ asset('user/devis/devis.js') }}" defer></script>
	{% endif %}
{% endblock %}

{% block body %}
	<main>
		<div class="container clearfix center devis-form-container">
			<div class="heading-block topmargin-sm bottommargin-sm center">
				<h3>Demander le devis</h3>
				<h4>Le Totale de la réparation est de:
					<span id="total">0,00</span>
					</span>
				</h4>
			</div>
			
			{% if app.user %}
				<form method="post" action="{{ path('app_create_devis') }}">
					<ul>
						<p class="col-md-12 form-message infos-appareil">Sélectionnez au moins une réparation afin de générer le devis</p>
						{% for tarif in tarifs %}
							<li class="liste-des-pannes">
								<input type="checkbox" name="tarifIds[]" id="tarif{{ tarif.idTarif }}" value="{{ tarif.idTarif }}" checked>
								<label for="tarif{{ tarif.idTarif }}">
									{{ tarif.idPanne.libPanne }} :
									{{ tarif.montant|number_format(2, ',', ' ') }} €
								</label>
							</li>
						{% endfor %}
					</ul>

					<div class="row g-3 devis-form log-in-form">
						<p class="col-md-12 form-message infos-appareil">Renseignez les informations ci-dessous afin de gagner du temps lorsque vous déposez votre appareil</p>
						<div class="col-md-6 start-flex bottom-space">
							<label for="code_imei" class="form-label">Code IMEI</label>
								<input name="codeImei" type="text" class="form-control" id="code_imei" placeholder="123456789012345" pattern="[a-zA-Z0-9]+" title="Le code IMEI doit contenir uniquement des chiffres et des lettres.">
						</div>
						<div class="col-md-6 start-flex bottom-space">
							<label for="num_serie" class="form-label">Numero de serie</label>
								<input name="numSerie" type="text" class="form-control" id="num_serie" placeholder="ABCD1234" pattern="[a-zA-Z0-9]+" title="Le numéro de série doit contenir uniquement des chiffres et des lettres.">
						</div>

						<div class="col-12">
							<div class="form-check bottom-space">
								<input class="form-check-input logged-in-checkbox" type="checkbox">
								<label class="form-check-label check-message">
									J’accepte les
									<span class="condition-pop-up-button">conditions generales</span>
								</label>
							</div>
						</div>

						<div class="col-12 buttons-container">
							<input type="hidden" name="_target_path"/>
							<button disabled type="submit" class="btn btn-primary already-connected-btn" id="confirmation-btn">Je reçoit mon devis</button>
						</div>
						{% for message in app.flashes('error') %}
							<div class="alert alert-danger col-12 buttons-container">{{ message }}</div>
						{% endfor %}
					</div>
				</form>
			{% else %}
				<div class="no-logged-in-form">					
					<form method="post" id="inscriptionForm" action="{{path('app_inscription')}}">
						<div class="row g-3 devis-form sign-in-form">
							<ul class="col-md-12">
								<p class="col-md-12 form-message infos-appareil">Sélectionnez au moins une réparation afin de générer le devis</p>
								{% for tarif in tarifs %}
									<li class="liste-des-pannes">
										<input type="checkbox" name="tarifIds[]" class="price-input" id="tarif{{ tarif.idTarif }}" value="{{ tarif.idTarif }}" checked>
										<label for="tarif{{ tarif.idTarif }}">
											{{ tarif.idPanne.libPanne }} :
											{{ tarif.montant|number_format(2, ',', ' ') }} €
										</label>
									</li>
								{% endfor %}
							</ul>

							{% for message in app.flashes('error') %}
								<div class="alert alert-danger col-12 buttons-container">{{ message }}</div>
							{% endfor %}
							<p class="col-md-12 form-message">Inscrit toi pour recevoir ton devis!</p>
							<div class="col-md-6 start-flex bottom-space">
								<label for="inputEmail4" class="form-label">Nom*</label>
								<input name="nom" required type="text" class="form-control" id="inputNom" pattern="[a-zA-Z ]+" title="Le nom doit contenir uniquement des lettres et des espaces.">
							</div>
							<div class="col-md-6 start-flex bottom-space">
								<label for="inputPassword4" class="form-label">Prénom*</label>
								<input name="prenom" required type="text" class="form-control" id="inputPrenom" pattern="[a-zA-Z ]+" title="Le prénom doit contenir uniquement des lettres et des espaces.">
							</div>
							<div class="col-md-6 start-flex bottom-space">
								<label for="inputEmail4" class="form-label">Email*</label>
								<input name="email" required type="email" class="form-control" id="inputEmail_sign_in">
							</div>
							<div class="col-md-6 start-flex bottom-space">
								<label for="inputPassword4" class="form-label">Password*</label>
								<input name="mdp" required type="password" class="form-control" id="inputPassword_sign_in" pattern="(?=.*[a-zA-Z])(?=.*\d)(?=.*[\W_]).{8,}" title="Le mot de passe doit contenir au moins 8 caractères, incluant au moins un chiffre et un caractère spécial.">
							</div>
							<div class="col-12 start-flex bottom-space">
								<label for="inputAddress" class="form-label">Télephone*</label>
								<input name="numero" required type="tel" class="form-control" id="inputTelephone" placeholder="01 12 34 56 78" pattern="\d{10}" title="Le numéro de téléphone doit contenir 10 chiffres." min="0">
							</div>
							<div class="col-12 start-flex bottom-space">
								<label for="inputAddress" class="form-label">Adresse*</label>
								<input name="adresse" required type="text" class="form-control" id="inputAddress" placeholder="1 Rue De..." aria-placeholder="">
							</div>
							<div class="col-12 start-flex bottom-space">
								<label for="inputAddress" class="form-label">Complement d'adresse</label>
								<input name="complement_adresse" type="text" class="form-control" id="inputAddress2" placeholder="Appartement N...">
							</div>
							<div class="col-md-6 start-flex bottom-space">
								<label for="inputEmail4" class="form-label">Ville*</label>
								<input name="ville" required type="text" class="form-control" id="inputVille" placeholder="Lille" pattern="[a-zA-Z ]+" title="La ville doit contenir uniquement des lettres et des espaces.">
							</div>
							<div class="col-md-6 start-flex bottom-space">
								<label for="inputPassword4" class="form-label">Code Postale*</label>
								<input name="cp" required type="text" class="form-control" id="inputCP" placeholder="59000" pattern="\d{5}" title="Le code postal doit contenir 5 chiffres." min="0">
							</div>

							<p class="col-md-12 form-message infos-appareil">Renseignez les informations ci-dessous afin de gagner du temps lorsque vous déposez votre appareil</p>
							<div class="col-md-6 start-flex bottom-space">
								<label for="code_imei" class="form-label">Code IMEI</label>
								<input name="codeImei" type="text" class="form-control" id="code_imei_sign_in" placeholder="123456789012345" pattern="[a-zA-Z0-9]+" title="Le code IMEI doit contenir uniquement des chiffres et des lettres.">
							</div>
							<div class="col-md-6 start-flex bottom-space">
								<label for="num_serie" class="form-label">Numero de serie</label>
								<input name="numSerie" type="text" class="form-control" id="num_serie_sign_in" placeholder="ABCD1234" pattern="[a-zA-Z0-9]+" title="Le numéro de série doit contenir uniquement des chiffres et des lettres.">
							</div>

							<div class="col-12">
								<div class="form-check bottom-space">
									<input class="form-check-input sign-in-checkbox" type="checkbox">
									<label class="form-check-label check-message">
										J’accepte les
										<span class="condition-pop-up-button">conditions generales</span>
									</label>
								</div>
							</div>

							<div class="col-12 buttons-container">
								<button disabled type="submit" class="btn btn-primary" id="confirmation-sign-in-btn">Je reçoit mon devis</button>
								<div class="btn btn-secondary" id="log-in-btn">Déjà inscrit ?</div>
							</div>
						</div>
					</form>

					<form method="post" id="log-in-form" action="{{path('app_auth')}}">
						<div class="row g-3 devis-form log-in-form hide-form">
							<ul class="col-md-12">
								<p class="col-md-12 form-message infos-appareil">Sélectionnez au moins une réparation afin de générer le devis</p>
								{% for tarif in tarifs %}
									<li class="liste-des-pannes">
										<input type="checkbox" name="tarifIds[]" class="price-input" id="tarif{{ tarif.idTarif }}" value="{{ tarif.idTarif }}" checked>
										<label for="tarif{{ tarif.idTarif }}">
											{{ tarif.idPanne.libPanne }} :
											{{ tarif.montant|number_format(2, ',', ' ') }} €
										</label>
									</li>
								{% endfor %}
							</ul>

							<p class="col-md-12 form-message">Connecte toi pour recevoir ton devis!</p>
							<div class="col-md-6 start-flex bottom-space">
								<label for="inputEmail4" class="form-label">Email</label>
								<input required type="email" name="_username" class="form-control" id="inputEmail_log_in">
							</div>
							<div class="col-md-6 start-flex bottom-space">
								<label for="inputPassword4" class="form-label">Password</label>
								<input required type="password" name="_password" class="form-control" id="inputPassword_log_in" pattern="(?=.*[a-zA-Z])(?=.*\d)(?=.*[\W_]).{8,}" title="Le mot de passe doit contenir au moins 8 caractères, incluant au moins un chiffre et un caractère spécial.">
							</div>

							<div class="col-12 buttons-container">
								<input type="hidden" name="_target_path" value="{{path('app_auth')}}"/>
								<input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}"/>
								<button disabled type="submit" class="btn btn-primary" id="confirmation-log-in-btn">Connectez-vous</button>
								<div class="btn btn-secondary" id="sign-in-btn">Pas inscrit ?</div>
							</div>
						</div>
					</form>
				</div>
			{% endif %}
		</div>

		<div class="condition-pop-up-container hide-pop-up">
			<div class="condition-pop-up">
				<div class="close-icon-container">
					<i class="fa fa-times condition-pop-up-close-icon close-icon" aria-hidden="true"></i>
				</div>
				<h3>Conditions Generales</h3>
				<div class="condition-pop-up-content">
					<p>
						Dernière mise à jour : [Date]		
													[Nom de l'Entreprise] ("nous", "notre" ou "nos") s'engage à protéger la vie privée de ses utilisateurs ("vous").
													Cette Politique de Confidentialité explique comment nous collectons, utilisons, divulguons et protégeons vos
													informations lorsque vous visitez notre site web [URL du site web], y compris tout autre média, canal de médias,
													site web mobile ou application mobile liée ou connectée à celui-ci.
													Veuillez lire attentivement cette Politique de Confidentialité avant d'utiliser notre site web, car elle vous aidera
													à comprendre quelles données nous collectons, comment nous les utilisons et quels sont vos droits.
													Collecte d'Informations
													Nous pouvons collecter des informations personnelles identifiables, telles que votre nom, adresse e-mail, et numéro
													de téléphone, lorsque vous volontairement nous les fournissez. Si vous accédez à notre site via un appareil mobile,
													nous pouvons également collecter des informations sur votre appareil mobile, son système d'exploitation, et votre
													localisation.
					</p>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
