{% extends 'base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('user/user-dashboard/user-dashboard.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('user/user-dashboard/user-dashboard.js') }}" defer></script>
{% endblock %}

{% block body %}
	<main>
		<div class="container clearfix center devis-list-form-container">
			<div class="heading-block topmargin-sm bottommargin-sm center mes-devis-container">
				<h3 class="col-md-12 title">Mes devis</h3>

				<div class="table-container">
					<div class="table-liste-devis-container">
						<table class="table caption-top">
							<thead>
								<tr>
									<th scope="col">status</th>
									<th scope="col">reference</th>
									<th scope="col">date</th>
									<th scope="col">marque</th>
									<th scope="col">modèle</th>
									<th scope="col">réparation</th>
									<th scope="col">prix</th>
									<th scope="col">délais</th>
								</tr>
							</thead>
							<tbody>
								{% for devi in devis %}
									<tr>
										<td class="td">
											<div>
												{% if devi.statut == 0 %}
													<div class="icon-container non-accepte">
														<i class="fa fa-ban icon" aria-hidden="true"></i>
													</div>
												{% elseif devi.statut == 1 %}
													<div class="icon-container en-attente">
														<i class="fa fa-clock-o icon" aria-hidden="true"></i>
													</div>
												{% elseif devi.statut == 2 %}
													<div class="icon-container en-cours">
														<i class="fa fa-wrench icon" aria-hidden="true"></i>
													</div>
												{% elseif devi.statut == 3 %}
													<div class="icon-container termine">
														<i class="fa fa-flag icon" aria-hidden="true"></i>
													</div>
												{% endif %}
											</div>
										</td>
										<td><p>{{ devi.numDevis }}</p></td>
										<td><p>{{ devi.dateDevis|date('d/m/Y') }}</p></td>
										<td><p>{{ devi.idReparation.idAppareil.idModele.idMarque.libMarque }}</p></td>
										<td><p>{{ devi.idReparation.idAppareil.idModele.libModele }}</p></td>
										<td><p>{{ devi.idReparation.observation }}</p></td>
										<td><p>{{ devi.prixTtc|number_format(2, ',', ' ') }} €</p></td>
										<td><p>{{ devi.dateRestitution|date('d/m/Y') }}</p></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>


					<div class="legende-status">
						<div class="status-container non-accepte-container">
							<p>non accepté</p>
							<div class="icon-container non-accepte">
								<i class="fa fa-ban icon" aria-hidden="true"></i>
							</div>
						</div>

						<div class="status-container en-attente-container">
							<p>en attente</p>
							<div class="icon-container en-attente">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
							</div>
						</div>

						<div class="status-container en-cours-container">
							<p>en cours</p>
							<div class="icon-container en-cours">
								<i class="fa fa-wrench icon" aria-hidden="true"></i>
							</div>
						</div>

						<div class="status-container termine-container">
							<p>terminé</p>
							<div class="icon-container termine">
								<i class="fa fa-flag icon" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row g-3 devis-form infos-acoount-form">
				<h3 class="col-md-12 title">Mes infos</h3>
				{% for message in app.flashes('error') %}
					<div class="alert alert-danger col-12 buttons-container">{{ message }}</div>
				{% endfor %}

				<div class="row g-3 edit-form hide" id="edit-form">
					<form method="post" action="{{ path('app_edit_user') }}">
						<div class="row g-3">
							<div class="col-md-6">
								<label for="inputNom" class="form-label">Nom*</label>
								<input type="text" id="inputNom" name="nom" value="{{ app.user.nom }}" class="form-control" disabled pattern="[a-zA-Z ]+" title="Le nom doit contenir uniquement des lettres et des espaces.">
							</div>
							<div class="col-md-6">
								<label for="inputPrenom" class="form-label">Prénom*</label>
								<input type="text" id="inputPrenom" name="prenom" value="{{ app.user.prenom }}" class="form-control" disabled pattern="[a-zA-Z ]+" title="Le prénom doit contenir uniquement des lettres et des espaces.">
							</div>
							<div class="col-md-6">
								<label for="inputEmail" class="form-label">Email*</label>
								<input type="email" id="inputEmail" name="email" value="{{ app.user.email }}" class="form-control" disabled>
							</div>
							<div class="col-md-6">
								<label for="inputNumero" class="form-label">Numéro*</label>
								<input type="text" id="inputNumero" name="numero" value="{{ app.user.numero }}" class="form-control" disabled pattern="\d{10}" title="Le numéro de téléphone doit contenir 10 chiffres." min="0">
							</div>
							<div class="col-12">
								<label for="inputAdresse" class="form-label">Adresse*</label>
								<input type="text" id="inputAdresse" name="adresse" value="{{ app.user.adresse }}" class="form-control" disabled>
							</div>
							<div class="col-12">
								<label for="inputComplementAdresse" class="form-label">Complément d'adresse</label>
								<input type="text" id="inputComplementAdresse" name="complement_adresse" value="{{ app.user.complementAdresse }}" class="form-control" disabled>
							</div>
							<div class="col-md-6">
								<label for="inputVille" class="form-label">Ville*</label>
								<input type="text" id="inputVille" name="ville" value="{{ app.user.idVille.nomVille }}" class="form-control" disabled pattern="[a-zA-Z ]+" title="La ville doit contenir uniquement des lettres et des espaces.">
							</div>
							<div class="col-md-6">
								<label for="inputCP" class="form-label">Code Postal*</label>
								<input type="text" id="inputCP" name="cp" value="{{ app.user.idVille.codePostal }}" class="form-control" disabled pattern="\d{5}" title="Le code postal doit contenir 5 chiffres." min="0">
							</div>
							<div class="col-md-4">
								<label for="inputCP" class="form-label">Ancien Password</label>
								<input type="text" id="inputMdp" name="mdp" value="" class="form-control" disabled pattern="(?=.*[a-zA-Z])(?=.*\d)(?=.*[\W_]).{8,}" title="Le mot de passe doit contenir au moins 8 caractères, incluant au moins un chiffre et un caractère spécial.">
							</div>
							<div class="col-md-4">
								<label for="inputCP" class="form-label">Nouveau Password</label>
								<input type="text" id="inputNewMdp" name="newMdp" value="" class="form-control" disabled pattern="(?=.*[a-zA-Z])(?=.*\d)(?=.*[\W_]).{8,}" title="Le mot de passe doit contenir au moins 8 caractères, incluant au moins un chiffre et un caractère spécial.">
							</div>
							<div class="col-md-4">
								<label for="inputCP" class="form-label">Confirmation Nouveau Password</label>
								<input type="text" id="inputConfirmNewMdp" name="confirmNewMdp" value="" class="form-control" disabled pattern="(?=.*[a-zA-Z])(?=.*\d)(?=.*[\W_]).{8,}" title="Le mot de passe doit contenir au moins 8 caractères, incluant au moins un chiffre et un caractère spécial.">
							</div>
						</div>

						<div class="row g-3">
							<div class="col-12 buttons-container">
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('edit-user') }}">
								<button type="submit" class="btn btn-primary save-btn">Enregistrer</button>
								<a class="btn" id="cancel-edit-btn">Annuler</a>
							</div>
						</div>
					</form>
				</div>


				<div class="row g-3 view-mes-info" id="view-mes-info">
					<div class="col-md-6 start-flex bottom-space">
						<label for="inputEmail4" class="form-label bg-transparent">Nom</label>
						<input required disabled value="{{ app.user.nom }}" type="text" class="form-control" id="inputNom">
					</div>
					<div class="col-md-6 start-flex bottom-space">
						<label for="inputPassword4" class="form-label bg-transparent">Prénom</label>
						<input required disabled value="{{ app.user.prenom }}" type="text" class="form-control" id="inputPrenome">
					</div>
					<div class="col-md-6 start-flex bottom-space">
						<label for="inputEmail4" class="form-label bg-transparent">Email</label>
						<input required disabled value="{{ app.user.email }}" type="email" class="form-control" id="inputEmail">
					</div>
					<div class="col-md-6 start-flex bottom-space">
						<label for="inputAddress" class="form-label bg-transparent">Télephone</label>
						<input required disabled value="{{ app.user.numero }}" type="number" class="form-control" id="inputTelephone" placeholder="0123456789">
					</div>
					<div class="col-12 start-flex bottom-space">
						<label for="inputAddress" class="form-label bg-transparent">Adresse</label>
						<input required disabled value="{{ app.user.adresse }}" type="text" class="form-control" id="inputAddress" placeholder="1 Rue De..." aria-placeholder="">
					</div>
					<div class="col-12 start-flex bottom-space">
						<label for="inputAddress" class="form-label bg-transparent">Complement d'adresse</label>
						<input required disabled value="{{ app.user.complementAdresse }}" type="text" class="form-control" id="inputAddress2" placeholder="Appartement N...">
					</div>
					<div class="col-md-6 start-flex bottom-space">
						<label for="inputEmail4" class="form-label bg-transparent">Ville</label>
						<input required disabled value="{{ app.user.idVille.nomVille }}" type="text" class="form-control" id="inputVille" placeholder="Lille">
					</div>
					<div class="col-md-6 start-flex bottom-space">
						<label for="inputPassword4" class="form-label bg-transparent">Code Postale</label>
						<input required disabled value="{{ app.user.idVille.codePostal }}" type="number" class="form-control" id="inputCP" placeholder="59000">
					</div>

					<div class="col-12 buttons-container">
						<button type="submit" class="btn btn-primary" id="infos-edit-btn">Editer</button>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}