{% extends 'base_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin/css/team.css') }}" type="text/css">
{% endblock %}

{% block body %}
<main class="main">
    <section class="section_hero">
        <h1 class="titleTeam">Team</h1>
        <div class="containerAddTeam">
            <form class="formContainer" action="{{ path('modification_team', {'id': utilisateur.idUtilisateur}) }}" method="POST">
                <div class="inputContainer">
                    <div class="containerLabelInput">
                        <div class="alignContent">
                            <div class="labelInput"><label>Prénom</label></div>
                            <input type="text" class="input" name="prenom" value="{{ utilisateur.prenom }}" required pattern="[A-Za-z]+" title="Veuillez saisir un prénom valide">
                        </div>
                        <div class="alignContent">
                            <div class="labelInput"><label>Nom</label></div>
                            <input type="text" class="input" name="nom" value="{{ utilisateur.nom }}" required pattern="[A-Za-z]+" title="Veuillez saisir un nom valide">
                        </div>
                    </div>
                    <div class="containerLabelInput">
                        <div class="alignContent">
                            <div class="labelInput"><label>Email</label></div>
                            <input type="email" class="input" name="email" value="{{ utilisateur.email }}" required>
                        </div>
                        <div class="alignContent">
                            <div class="labelInput"><label>Numéro de téléphone</label></div>
                            <input type="tel" class="input" name="numero" value="{{ utilisateur.numero }}" required pattern="[0-9]{10}" title="Veuillez saisir un numéro de téléphone valide">
                        </div>
                    </div>
                    <div class="containerLabelInput">
                        <div class="alignContent">
                            <div class="labelInput"><label>Adresse</label></div>
                            <input type="text" class="input" name="adresse" value="{{ utilisateur.adresse }}" required>
                        </div>
                        <div class="alignContent">
                            <div class="labelInput"><label>Complément d'adresse</label></div>
                            <input type="text" class="input" name="complementAdresse" value="{{ utilisateur.complementAdresse }}">
                        </div>
                    </div>
                    <button class="btnValider">Modifier</button>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
